[submodule "packages/phoenix"]
	path = packages/phoenix-ui
	url = git@github.com:bolanosdev/phoenix-ui.git
[submodule "packages/phoenix-ui"]
	path = packages/phoenix-ui
	url = git@github.com:bolanosdev/phoenix-ui.git
