name: release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions: {}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: oven-sh/setup-bun@v1
      - run: bun i
      - run: bun test app

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: oven-sh/setup-bun@v1

      - run: bun i

      - run: bun run build

      - run: ls -la

      - run: ls -la ./build/client

      - name: deploy
        uses: cloudflare/pages-action@v1
        with:
          projectName: "cf-remix"
          directory: "./build/client"
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
